body {
    background-color: #1c1c1c;
}

.text-secondary{
    color: #fff3cd !important;
}

.text-danger{
    color: #C13128 !important;
}

.btn {
    border-radius: 20px;
    width: 150px;
}

.btn-primary{
    background-color: #1c1c1c;
    border: #1c1c1c;
}

.btn-primary:hover{
    background-color: #474747;
    border: #474747;
}


.bg-secondary {
    background-color: #fbc02d !important;
}

.btn-secondary{
    background-color: #fbc02d;
    border: #fbc02d;
}

.btn-secondary:hover{
    background-color: #fdc63a;
    border: #fdc63a;
}

.btn-success{
    background-color: #0d47a1;
    border: #0d47a1;
}

.btn-success:hover{
    background-color: #1862d1;
    border: #1862d1;
}

.btn-close {
  width: 25px;
  height: 25px;
  background-color: #C13128;
  border: none;
  font-size: .9rem;
  color: #dc3545;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.btn-close:hover {
  opacity: 1;
  transform: scale(1.2);
  color: #a71d2a;
}

.card{
    height: 33rem;
    background-color: #313131;
    color: #fff;
}

.card.card-profile {
    height: auto;
    width: 35rem;
    background-color: #313131;
    color: #fff;
    margin: 5rem 0;
}

.card-title {
  height: 4.8rem;
  text-transform: uppercase;
  overflow: hidden;
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fbc02d;
  margin-bottom: 1rem;
}

img.card-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/* main */

main {
    color: #fff3cd;
}

main .btn-primary{
    background-color: #fbc02d;
    border: #fbc02d;
}

main .btn-primary:hover{
    background-color: #fff3cd;
    border: #fff3cd;
    color: #1c1c1c;
}

/* alert */

.alert-danger {
    background-color: #C13128;
}

/* misc */

.logo {
    width: 5rem;
}

.logo-footer {
    width: 8rem;
}

.list .bookmark {
    position: absolute;
    top: -1.5rem;
    right: 1rem;
    z-index: 1;
}

.single .bookmark{
    width: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.bookmark{
    font-size: 1rem;
    background-color: #C13128;
    color: #fbc02d;
    padding: .5rem;
}

.wallpaper {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    opacity: .3;
}
.wallpaper_1 {
    background-image: url('../src/assets/images/batman_wallpaper_1.jpg');
}

.wallpaper_2 {
    background-image: url('../src/assets/images/batman_wallpaper_2.jpg');
}

main .wallpaper_3 {
    background-image: url('../src/assets/images/batman_wallpaper_3.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.cart{
    width: 2rem;
}

.cart-quantity{
    font-size: 1rem;
}

.cart-img {
    width: 5rem;
}